<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326312334815-d6u3r99b2nv9ndehbljgrgdap5srq508.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326312334815-d6u3r99b2nv9ndehbljgrgdap5srq508</string>
	<key>API_KEY</key>
	<string>AIzaSyAvZ19kek6KAGNuP3A2u_E3ZFwnWq9_0Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>326312334815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManage</string>
	<key>PROJECT_ID</key>
	<string>my-task-manage</string>
	<key>STORAGE_BUCKET</key>
	<string>my-task-manage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326312334815:ios:ddcb356c4bf01ca947206a</string>
</dict>
</plist>